@import url("https://fonts.googleapis.com/css?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:800&display=swap");
body {
  margin: 0px;
  background: transparent;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
}
body input {
  border: none;
}
body input:focus {
  outline: none;
}
body ::-webkit-scrollbar {
  width: 13px;
}
body ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
body ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #919197;
}

#main {
  margin-left: 2px;
  width: calc(100vw - 4px);
}

#main.maximized {
  margin-left: 0px;
  width: 100%;
}

#project-view.maximized, #project-view.square {
  border-radius: 0px;
}

#project-view {
  border-radius: 0px 15px 15px 0px;
}

#left-bar.maximized, #left-bar.square {
  border-radius: 0px;
}

#left-bar {
  background: #707075;
  border-radius: 15px;
  height: 100vh;
  border-radius: 15px 0px 0px 15px;
  padding: 0px;
}
#left-bar #menu.mac {
  margin: 10px;
  margin-top: 20px;
  display: flex;
  margin-left: 20px;
  -webkit-app-region: drag;
}
#left-bar #menu.mac #close:after {
  content: "";
  display: block;
  background: #EC6A5E;
  border-radius: 10px;
  border: 1px solid #C84A3E;
  width: 18px;
  height: 18px;
  -webkit-app-region: no-drag;
}
#left-bar #menu.mac #close:hover::after {
  background: #C84A3E;
}
#left-bar #menu.mac #minimize:after {
  content: "";
  display: block;
  background: #F5BF4F;
  border-radius: 10px;
  border: 1px solid #CF9A3B;
  width: 18px;
  height: 18px;
  margin-left: 12px;
  -webkit-app-region: no-drag;
}
#left-bar #menu.mac #minimize:hover::after {
  background: #CF9A3B;
}
#left-bar #menu.mac #maximize:after {
  content: "";
  display: block;
  background: #62C755;
  border-radius: 10px;
  border: 1px solid #509C3E;
  width: 18px;
  height: 18px;
  margin-left: 12px;
  -webkit-app-region: no-drag;
}
#left-bar #menu.mac #maximize:hover::after {
  background: #509C3E;
}
#left-bar #menu.mac #restore:after {
  content: "";
  display: block;
  background: #62C755;
  border-radius: 10px;
  border: 1px solid #509C3E;
  width: 18px;
  height: 18px;
  margin-left: 12px;
  -webkit-app-region: no-drag;
}
#left-bar #menu.mac #restore:hover::after {
  background: #509C3E;
}
#left-bar #menu.windows {
  margin: 10px;
  margin-top: 15px;
  display: flex;
  margin-left: 20px;
  -webkit-app-region: drag;
  color: #a6a9ad;
}
#left-bar #menu.windows #close {
  font-size: 17pt;
}
#left-bar #menu.windows #close:hover {
  color: #fff;
}
#left-bar #menu.windows #minimize {
  padding-left: 10px;
  font-size: 17pt;
  margin-top: 5px;
}
#left-bar #menu.windows #maximize {
  margin-left: 10px;
  font-size: 16pt;
}
#left-bar #menu.windows #restore:after {
  content: "";
  display: block;
  background: #62C755;
  border-radius: 10px;
  border: 1px solid #509C3E;
  width: 18px;
  height: 18px;
  margin-left: 12px;
  -webkit-app-region: no-drag;
}
#left-bar #menu.windows #restore:hover::after {
  background: #509C3E;
}
#left-bar #new {
  display: block;
  margin-left: 27px;
  margin-top: 25px;
  width: 80%;
  cursor: pointer;
}
#left-bar h2#major {
  color: #9D9D9F;
  letter-spacing: 0.00001em;
  font-size: 14pt;
  font-weight: 600;
  padding-left: 30px;
  margin-top: 35px;
}
#left-bar #projects-list {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100vh - 240px);
}
#left-bar #projects-list .project {
  cursor: pointer;
  color: #E0E0E2;
  font-family: "Noto Sans";
  font-size: 12pt;
  letter-spacing: 0.00001em;
  padding: 15px;
  padding-left: 33px;
  -webkit-font-smoothing: antialiased;
}
#left-bar #projects-list .project p {
  margin-left: 10px;
}
#left-bar #projects-list .project.active {
  color: #fff;
  background: #7F7F82;
}
#left-bar .divider::after {
  display: block;
  content: "";
  margin-top: 10px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  height: 1px;
  background-color: #87898c;
}
#left-bar #config {
  cursor: pointer;
  margin-left: 25px;
  margin-top: 12px;
  font-size: 17.5pt;
  color: #a6a9ad;
  width: 30px;
}

#project-view {
  background: #fff;
  border-radius: 0px 15px 15px 0px;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}
#project-view input {
  display: flex;
  flex-direction: column;
}
#project-view #header {
  font-family: "Noto Sans";
  font-size: 12pt;
  display: flex;
  letter-spacing: 0.00001em;
  float: right;
  padding: 10px;
  margin-top: 5px;
  margin-right: 15px;
}
#project-view #header span {
  margin-left: 30px;
  cursor: pointer;
}
#project-view #header svg {
  margin-right: 7px;
  color: rgba(255, 0, 0, 0.568);
}
#project-view #content {
  margin-top: 100px;
  margin-left: 82px;
}
#project-view #icon {
  font-size: 50pt;
}
#project-view #title {
  font-family: "Raleway";
  font-size: 24pt;
  font-weight: bolder;
  margin-top: 25px;
  width: 100%;
}
#project-view #description {
  width: 100%;
}
#project-view #dir-container, #project-view #folder-container {
  margin-top: 40px;
  display: flex;
  color: grey;
}
#project-view #dir-container svg, #project-view #folder-container svg {
  font-size: 15pt;
  margin-right: 10px;
}
#project-view #dir-container span, #project-view #folder-container span {
  font-weight: 100;
  font-size: 12pt;
}
#project-view #dir-container input, #project-view #folder-container input {
  margin-left: 55px;
  margin-top: -1px;
}
#project-view #folder-container {
  margin-top: 10px;
}
#project-view #folder-container select {
  margin-left: 40px;
  border: none;
  border-radius: 5px;
  background: wheat;
  padding: 2px 0px 2px 0px;
  width: 180px;
}
#project-view #folder-container select:focus {
  outline: none;
}
#project-view #folder-container option {
  background: white;
  outline: none;
  border: none;
}
#project-view #folder-container option:hover {
  background: yellow;
}
#project-view #folder-container option:focus {
  background: white;
  outline: none;
  border: none;
}
#project-view #folder-container svg {
  font-size: 12pt;
  margin-left: 2px;
}
#project-view #command-container {
  padding: 7px;
  border: 1px solid rgba(0, 0, 0, 0.459);
  border-radius: 5px;
}
#project-view #command-container input {
  margin-top: 20px;
  color: black;
  width: 260px;
}
#project-view #command-container span, #project-view #command-container input {
  display: inline-block;
}
#project-view #command-container svg {
  padding-top: 2px;
}
#project-view #command-container span {
  color: rgba(0, 0, 0, 0.63);
}
#project-view .divider:after {
  display: block;
  content: "";
  background: rgba(26, 26, 25, 0.123);
  width: 90%;
  height: 1px;
  margin-top: 40px;
}
#project-view #actions {
  display: flex;
  flex-direction: column;
}
#project-view #actions P {
  font-size: 12pt;
  font-family: "Raleway";
  font-size: 20pt;
  font-weight: bolder;
  margin-top: 25px;
  width: 100%;
}
#project-view #actions svg {
  font-size: 15pt;
  color: rgba(0, 0, 0, 0.747);
}
#project-view #actions span {
  margin-top: 20px;
}
#project-view #actions #execute, #project-view #actions #open-vscode, #project-view #actions #open-terminal, #project-view #actions #open-explorer {
  width: 200px;
}
#project-view #actions #execute {
  cursor: pointer;
}
#project-view #actions #execute svg {
  margin-right: 26px;
}
#project-view #actions #open-vscode {
  cursor: pointer;
}
#project-view #actions #open-vscode svg {
  margin-right: 30px;
}
#project-view #actions #open-terminal {
  cursor: pointer;
}
#project-view #actions #open-terminal svg {
  margin-right: 20px;
}
#project-view #actions #open-explorer {
  cursor: pointer;
}
#project-view #actions #open-explorer svg {
  margin-right: 24px;
}

#settingsModal .modal-dialog label {
  margin-top: 10px;
}

.modal {
  background: transparent;
}

/*# sourceMappingURL=main.css.map */
