@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:800&display=swap');

body {
    margin: 0px;
    background: transparent;
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
    input {
        border: none;
    }

    input:focus {
        outline: none;
    }

    ::-webkit-scrollbar {
        width: 13px;
    }

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        // -webkit-box-shadow: inset 0 0 6px rgb(0, 0, 0);
        // background: rgba(0, 0, 0, 0.356);
        background: rgb(145, 145, 151);
    }
}

#main {
    margin-left: 2px;
    width: calc(100vw - 4px);
}

#main.maximized {
    margin-left: 0px;
    width: 100%;
}

#project-view.maximized, #project-view.square{
    border-radius: 0px;
}

#project-view {
    border-radius: 0px 15px 15px 0px;
}

#left-bar.maximized, #left-bar.square {
    border-radius: 0px;
}

#left-bar {
    background: #707075;
    border-radius: 15px;
    height: 100vh;
    border-radius: 15px 0px 0px 15px;
    padding: 0px;

    #menu.mac {
        margin: 10px;
        margin-top: 20px;
        display: flex;
        margin-left: 20px;
        -webkit-app-region: drag;

        #close:after {
            content: '';
            display: block;
            background: #EC6A5E;
            border-radius: 10px;
            border: 1px solid #C84A3E;
            width: 18px;
            height: 18px;
            -webkit-app-region: no-drag;
        }

        #close:hover::after {
            background: #C84A3E;
        }

        #minimize:after {
            content: '';
            display: block;
            background: #F5BF4F;
            border-radius: 10px;
            border: 1px solid #CF9A3B;
            width: 18px;
            height: 18px;
            margin-left: 12px;
            -webkit-app-region: no-drag;
        }

        #minimize:hover::after {
            background: #CF9A3B;
        }

        #maximize:after {
            content: '';
            display: block;
            background: #62C755;
            border-radius: 10px;
            border: 1px solid #509C3E;
            width: 18px;
            height: 18px;
            margin-left: 12px;
            -webkit-app-region: no-drag;
        }

        #maximize:hover::after {
            background: #509C3E;
        }

        #restore:after {
            content: '';
            display: block;
            background: #62C755;
            border-radius: 10px;
            border: 1px solid #509C3E;
            width: 18px;
            height: 18px;
            margin-left: 12px;
            -webkit-app-region: no-drag;
        }

        #restore:hover::after {
            background: #509C3E;
        }
    }

    #menu.windows {
        margin: 10px;
        margin-top: 15px;
        display: flex;
        margin-left: 20px;
        -webkit-app-region: drag;
        color: #a6a9ad;

        #close {
            font-size: 17pt;
        }

        #close:hover {
            color: #fff;
        }

        #minimize {
            padding-left: 10px;
            font-size: 17pt;
            margin-top: 5px;
        }

        #maximize {
            margin-left: 10px;
            font-size: 16pt;
        }

        // #close:after {
        //     content: '';
        //     display: block;
        //     background: #fff;
        //     border-radius: 10px;
        //     border: 1px solid #C84A3E;
        //     width: 18px;
        //     height: 18px;
        //     -webkit-app-region: no-drag;
        // }
        //
        // #close:hover::after {
        //     background: #C84A3E;
        // }

        // #minimize:after {
        //     content: '';
        //     display: block;
        //     background: #F5BF4F;
        //     border-radius: 10px;
        //     border: 1px solid #CF9A3B;
        //     width: 18px;
        //     height: 18px;
        //     margin-left: 12px;
        //     -webkit-app-region: no-drag;
        // }
        //
        // #minimize:hover::after {
        //     background: #CF9A3B;
        // }

        // #maximize:after {
        //     content: '';
        //     display: block;
        //     background: #62C755;
        //     border-radius: 10px;
        //     border: 1px solid #509C3E;
        //     width: 18px;
        //     height: 18px;
        //     margin-left: 12px;
        //     -webkit-app-region: no-drag;
        // }
        //
        // #maximize:hover::after {
        //     background: #509C3E;
        // }

        #restore:after {
            content: '';
            display: block;
            background: #62C755;
            border-radius: 10px;
            border: 1px solid #509C3E;
            width: 18px;
            height: 18px;
            margin-left: 12px;
            -webkit-app-region: no-drag;
        }

        #restore:hover::after {
            background: #509C3E;
        }
    }

    #new {
        display: block;
        margin-left: 27px;
        margin-top: 25px;
        width: 80%;
        cursor: pointer;
    }

    h2#major {
        color: #9D9D9F;
        letter-spacing: 0.00001em;
        font-size: 14pt;
        font-weight: 600;
        padding-left: 30px;
        //font-weight: 700;
        margin-top: 35px;
    }

    #projects-list {
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        overflow-y: auto;
        height: calc(100vh - 240px);

        .project {
            cursor: pointer;
            color: #E0E0E2;
            font-family: 'Noto Sans', ;
            font-size: 12pt;
            letter-spacing: 0.00001em;
            padding: 15px;
            padding-left: 33px;
            -webkit-font-smoothing: antialiased;

            p {
                margin-left: 10px;
            }
        }

        .project.active {
            color: #fff;
            background: #7F7F82;
        }
    }

    .divider::after {
        display: block;
        content: '';
        margin-top: 10px;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        height: 1px;
        background-color: #87898c;
    }

    #config {
        cursor: pointer;
        margin-left: 25px;
        margin-top: 12px;
        font-size: 17.5pt;
        color: #a6a9ad;
        width: 30px;
    }
}

#project-view {
    background: #fff;
    border-radius: 0px 15px 15px 0px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;

    input {
        display: flex;
        flex-direction: column;
    }

    #header {
        font-family: 'Noto Sans', ;
        font-size: 12pt;
        display: flex;
        letter-spacing: 0.00001em;
        float: right;
        padding: 10px;
        margin-top: 5px;
        margin-right: 15px;

        span {
            margin-left: 30px;
            cursor: pointer;
        }

        svg {
            margin-right: 7px;
            color: rgba(255, 0, 0, 0.568);
        }
    }

    #content {
        margin-top: 100px;
        margin-left: 82px;
    }

    #icon {

        font-size: 50pt;
    }

    #title {
        font-family: 'Raleway';
        font-size: 24pt;
        font-weight: bolder;
        margin-top: 25px;
        width: 100%;
    }

    #description {
        width: 100%;
    }

    #dir-container, #folder-container {
        margin-top: 40px;
        display: flex;
        color: grey;

        svg {
            font-size: 15pt;
            margin-right: 10px;
        }

        span {
            font-weight: 100;
            font-size: 12pt;
        }

        input {
            margin-left: 55px;
            margin-top: -1px;
        }
    }

    #folder-container {
        margin-top: 10px;

        select {
            margin-left: 40px;
            border: none;
            border-radius: 5px;
            background: wheat;
            padding: 2px 0px 2px 0px;
            width: 180px;
        }

        select:focus {
            outline: none;

        }

        option {
            background: white;
            outline: none;
            border: none;
        }

        option:hover {
            background: yellow;
        }

        option:focus {
            background: white;
            outline: none;
            border: none;
        }

        svg {
            font-size: 12pt;
            margin-left: 2px;
        }
    }

    #command-container  {
        padding: 7px;
        border: 1px solid rgba(0, 0, 0, 0.459);
        border-radius: 5px;

        input {
            margin-top: 20px;
            color: rgb(0, 0, 0);
            width: 260px;
        }

        span, input {
            display: inline-block;
        }

        svg {
            padding-top: 2px;
        }

        span {
            color: rgba(0, 0, 0, 0.63);
        }
    }

    .divider:after {
        display: block;
        content: '';
        background: rgba(26, 26, 25, 0.123);
        width: 90%;
        height: 1px;
        margin-top: 40px;
    }

    #actions {

        display: flex;
        flex-direction: column;

        P {
            font-size: 12pt;
            font-family: 'Raleway';
            font-size: 20pt;
            font-weight: bolder;
            margin-top: 25px;
            width: 100%;
        }

        svg {
            font-size: 15pt;
            color: rgba(0, 0, 0, 0.747);
        }

        span {
            margin-top: 20px;
        }

        #execute, #open-vscode, #open-terminal, #open-explorer {
            width: 200px;
        }

        #execute {
            cursor: pointer;
            svg {
                margin-right: 26px;
            }
        }

        #open-vscode {
            cursor: pointer;
            svg {
                margin-right: 30px;
            }
        }

        #open-terminal {
            cursor: pointer;
            svg {
                margin-right: 20px;
            }
        }

        #open-explorer {
            cursor: pointer;
            svg {
                margin-right: 24px;
            }
        }
    }
}

#settingsModal .modal-dialog {
    label {
        margin-top: 10px;
    }
}

.modal {
    background: transparent;
}
